<% layout("/layouts/boilerplate") %>

<body>  
<div class="row">
    <div class="col-8 offset-2">
        <h3>Edit the listing</h3><br>
        <form action="/listings/<%= listing._id %>?_method=PUT" method="post" enctype="multipart/form-data" novalidate class="needs-validation">
        <div class="mb-3">
            <label for="title" class="form-label">Title: </label>
            <input type="text" class="form-control" name="listing[title]" value="<%= listing.title %>" required>
            <div class="invalid-feedback">
                Title required!
            </div>
        </div>

        <div class="mb-3">
            <label for="description" class="form-label">Description: </label>
            <textarea type="text" class="form-control" name="listing[description]" required><%= listing.description %></textarea>
            <div class="invalid-feedback">
                Describe your property!
            </div>
        </div>

        <div>
            Original Image:
            <br><br>
            <img src="<%= originalImage %>" alt="<listing.image.filename %>" class="img-fluid mb-3 d-block mx-auto" style="max-width: 400px; border-radius: 2rem;">
        </div>

        <div class="mb-3">
            <label for="image" class="form-label">Image: </label>
            <input type="file" class="form-control" name="listing[image]">
        </div>

        <div class="row">
            <div class="mb-3 col-md-4">
                <label for="price" class="form-label">Price: </label>
                <input type="number" class="form-control" name="listing[price]" value="<%= listing.price %>" required>
                <div class="invalid-feedback">
                    Enter a valid price!
                </div>
            </div>


            <div class="mb-3 col-md-8">
                <label for="country" class="form-label">Country: </label>
                <input type="text" class="form-control" name="listing[country]" value="<%= listing.country %>" required>
                <div class="invalid-feedback">
                    Enter country!
                </div>
            </div>
        </div>
        
        <div class="mb-4">
            <label for="location" class="form-label">Location: </label>
            <input type="text" class="form-control" name="listing[location]" value="<%= listing.location %>" required>
            <div class="invalid-feedback">
                Enter location!
            </div>
        </div>


        <div class="buttonGrp mb-3">
            <form action="/listings/<%= listing._id %>" method="get" required>
                <button class="btn btn-light">Back</button>
            </form>
            <button class="btn add-btn btn-dark">edit</button>
        </div>
    </div>
</div>
    
        
</body>
</html>